body {
    font-family: 'lucida sans', serif;
    background-color: lightsteelblue;
}

h1 {
    font-weight: bold;
}

.team-heading {
    background-color:rgb(201, 215, 228);
}
.employee-card {
    margin: 30px;
    width: 2000px;
    box-shadow: 10px 10px;
}

.card-header {
    background-color:lightyellow;
}