body {
    font-family: 'lucida sans', serif;
    background-color: rgb(124, 170, 187)69);
}

h1 {
    font-weight: bold;
}

.team-heading {
    background-color: lightcyan;
}
.employee-card {
    margin: 30px;
    width: 2000px;
    box-shadow: 10px 10px;
}

.card-header {
    background-color: darkcyan;
}